body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

header, footer {
    background-color: pink;
}

.site-title {
    color: darkorchid;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}


.hobbies {
    list-style-type: square;
}

.hobbies > li:nth-child(odd){
    background-color: aquamarine;
}


.nav {
    list-style-type: none;
}

a {
    text-decoration: none;
    background-color: gold;
    border: 1px solid #000;
}

a:hover {
    background-color: coral;
}